site_name: Doc. Fácil

# Repository
repo_name: RogerioLS/doc-facil
repo_url: https://github.com/RogerioLS/doc-facil


# Copyright
copyright: Copyright &copy; 2016 - 2023 Martin Donath

nav:
  - Boas Vindas: index.md
  - Material:
    - O que é MkDocs: oqueemkdocs.md
    - Instalação: install.md
    - Licença: licenca.md

theme:
  name: 'material'
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes 
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil 
    view: material/eye
  # Mudar o tema da pagina
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

# Customization
extra:
  analytics:
    provider: google
    property: G-2DFLVCVNXJ
    feedback:
      title: Esta página foi útil?
      ratings:
        - icon: material/heart
          name: Esta página foi útil
          data: 1
          note: >-
            Obrigado pelo seu feedback!
        - icon: material/heart-broken
          name: Esta página pode ser melhorada
          data: 0
          note: >-
            Obrigado pelo seu feedback! Ajude-nos a melhorar esta página usando nosso 
            . <a href="https://forms.gle/gxQBCWfweZpr19dbA" target="_blank" rel="noopener">formulário de feedback</a>.
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/RogerioLS
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/rogerio-lopes-57627615b/


# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:materialx.emoji.to_svg
      emoji_index: !!python/name:materialx.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde


# Plugins
plugins:
  - git-committers:
      repository: RogerioLS/doc-facil
      branch: main 
      enabled: true
  - git-revision-date-localized:
      enabled: true
      type: date
      exclude: []
      fallback_to_build_date: false
      enable_creation_date: true